<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Transfers Information</title>
    <th:block th:replace="~{/layout/head::head}"></th:block>

</head>
<body>
<div class="container">
    <div class="row" id="header">
        <div class="col-md-8">
            <h1>List Transfers Information</h1>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-outline-light" style="float: right; margin-top: 20px"
                    onclick="window.location.href='/customers'">
                <i class="fa fa-list"></i>
                <span>Customers List</span>
            </button>
        </div>
    </div>
    <div id="main" class="row">
        <table class="table table-striped table table-hover">
            <tr id="head-table" >
                <th class="id">#</th>
                <th class="id_sender">SenderID</th>
                <th class="name_sender">Sender Name</th>
                <th class="id_recipient">Recipient ID</th>
                <th class="name_recipient">Recipient Name</th>
                <th class="t_amount">Transfer Amount (VND)</th>
                <th class="fees">Fees (%)</th>
                <th class="fees_amount">Fees Amount (VND)</th>
            </tr>
            <th:block th:each="transfer, iterStat : ${transfers}">
                <tr>
                    <td th:text="${iterStat.count}" ></td>
<!--                    <td class="id" th:text="${transfer.id}"></td>-->
                    <td class="id_sender" th:text="${transfer.idSender}" style="text-align: center"></td>
                    <td class="name_sender">
                        <th:block th:each="customer: ${customersList}">
                            <span th:if="${transfer.getIdSender() == customer.getId()}">
                                <span th:text="${customer.getFullName()}"></span>
                            </span>
                        </th:block>
                    </td>
                    <td class="id_recipient" th:text="${transfer.idRecipient}" style="text-align: center"></td>
                    <td class="name_recipient">
                        <th:block th:each="customer: ${customersList}">
                            <span th:if="${transfer.getIdRecipient() == customer.getId()}">
                                <span th:text="${customer.getFullName()}"></span>
                            </span>
                        </th:block>
                    </td>
                    <td class="t_amount"
                        th:text="${transfer.transferAmount}" style="text-align: right">
                    </td>
                    <td class="fees" th:text="${transfer.fees}" style="text-align: center"></td>
                    <td class="fees_amount" th:text="${transfer.transaction_amount}" style="text-align: right">
                    </td>
                </tr>
            </th:block>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="text-align: right;font-weight: bolder">
                    Total fees amount :
                </td>
                <td colspan="2" style="text-align: right;font-weight: bolder">
                    <span th:text = "${total}"></span>
                </td>
            </tr>
        </table>
    </div>

</div>

<th:block th:replace="~{/layout/script::script_all}"></th:block>
</body>
</html>