<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment = "script_all">
    <script src="/assets/bootstrap-footer-15/bootstrap-footer-15/js/jquery.min.js"></script>
    <script src="/assets/bootstrap-footer-15/bootstrap-footer-15/js/popper.js"></script>
    <script src="/assets/bootstrap-footer-15/bootstrap-footer-15/js/bootstrap.min.js"></script>
    <script src="/assets/css/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/bootstrap-footer-15/bootstrap-footer-15/js/main.js"></script>
</th:block>
