<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deposit money into customer's account
    </title>
    <th:block th:replace="~{/layout/head_crud::head}"></th:block>
</head>
<body>
<div class="container">
    <div class="row" id="header">
        <div class="col-sm-8">
            <h1>Withdraw money into customer's account</h1>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-outline-light" style="float: right;"
                    onclick="window.location.href='/customers'">
                <i class="fa fa-list"></i>
                <span>Customers List</span>
            </button>
        </div>
    </div>

    <form th:action="@{/withdraw}" th:object="${withdraw}" method="post">
        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Customer ID</label>
                <input type="text" class="form-control" id="id" name="id"
                       th:field="*{idOwner}" readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label">Full Name</label>
                <input type="text" class="form-control" id="fullName" name="fullName"
                       th:value="${customer.fullname}"  readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label">Current balance (VND)</label>
                <input type="number" class="form-control" id="balance" name="balance"
                       th:value="${customer.balance}" readonly>
            </div>
            <div class="col-md-6">
                <label class="form-label">Transaction Amount (VND)</label>
                <input type="number" class="form-control" id="transferAmount" name="transferAmount"
                       value="0" th:field="*{amount}">
            </div>

            <div class="col-md-12">
                <br>
                <button type="submit" id="btnCreateCustomer" class="btn btn-outline-warning">
                    <i class="fas fa-minus"></i>
                    Withdraw
                </button>
            </div>
        </div>
    </form>
    <div class="row">
        <footer>
            <th:block th:if="${success}">
                <div class="bg-success p-2 text-white"><span th:text="${success}"></span></div>
            </th:block>
            <th:block th:if="${error}">
                <div class="bg-danger bg-gradient p-2 text-white"><span th:text="${error}"></span></div>
            </th:block>
        </footer>
    </div>
</div>


<th:block th:replace="~{/layout/script::script_all}"></th:block>
</body>

</html>